<app-home-header></app-home-header>
<div class="infos section" id="infos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="left-image">
                  <img src="assets/images/left-infos.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="section-heading">
                  <h2>More <em>About Us</em> &amp; What <span>We Offer</span></h2>
                  <div class="line-dec"></div>
                  <p>The website 'ELKHARJA' aims to offer a variety of events for people to enjoy, including parties, workshops, and more. Founded by MED AMINE JD.. Please contact us. Thank you.</p>
                </div>
                <div class="skills">
                  <div class="skill-slide marketing">
                    <div class="fill"></div>
                    <h6>Party</h6>
                    <span>90%</span>
                  </div>
                  <div class="skill-slide digital">
                    <div class="fill"></div>
                    <h6>Training sessions</h6>
                    <span>80%</span>
                  </div>
                  <div class="skill-slide media">
                    <div class="fill"></div>
                    <h6>Others</h6>
                    <span>95%</span>
                  </div>
                </div>
                <p class="more-info">The website 'ELKHARJA' aims to offer a variety of events for people to enjoy, including parties, workshops, and more. Founded by MED AMINE JD.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
