
  <header class="header-area ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <a href="index.html" class="logo">
                        <h1>Clubify</h1>
                    </a>
                
                    <div class="search-input">
                      <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div>
             
                    <ul class="nav">
                      <li class="scroll-to-section" routerLink="/" class="active"><a>Home</a></li>
                      <li class="scroll-to-section"><a routerLink="/competitions">Cometitions</a></li>
                      <li class="scroll-to-section"><a routerLink="/clubs">Clubs</a></li>
                      <li class="scroll-to-section"><a routerLink="/outings">Outings</a></li>
                      <li class="scroll-to-section"><a routerLink="contactus">Contact Us!</a></li>
                      <li class="scroll-to-section" routerLink="/clubslist"><a>Clubs List</a></li>
                      <li class="scroll-to-section" routerLink="/addclub"><a>Add New Club</a></li>
                  </ul>   
                    
                </nav>
            </div>
        </div>
    </div>
  </header>
