<section class="section competition-examples" id="competition-examples">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Our</h6>
                    <h2>Competition Examples</h2>
                </div>
            </div>
        </div>
        <ul class="event_filter">
            <li>
                <a class="is_active" href="#!" data-filter="*">Show All</a>
            </li>
            <li>
                <a href="#!" data-filter=".robotics">Robotics</a>
            </li>
            <li>
                <a href="#!" data-filter=".environmental">Environmental</a>
            </li>
            <li>
                <a href="#!" data-filter=".entrepreneurship">Entrepreneurship</a>
            </li>
        </ul>
        <div class="row event_box">
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 robotics">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/images/course-01.jpg" alt=""></a>
                        <span class="category">Robotic Challenge</span>
                        <span class="price"><h6><em>$</em>500</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">Engineering Society</span>
                        <h4>Autonomous Robot Competition</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 environmental">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/images/course-02.jpg" alt=""></a>
                        <span class="category">Environmental</span>
                        <span class="price"><h6><em>$</em>750</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">Green Initiative Group</span>
                        <h4>Sustainability Challenge</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 entrepreneurship">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="../../../assets/images/course-03.jpg" alt=""></a>
                        <span class="category">Entrepreneurship</span>
                        <span class="price"><h6><em>$</em>1000</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">Startup Society</span>
                        <h4>Business Pitch Competition</h4>
                    </div>
                </div>
            </div>
            <!-- Additional competition examples can be added here -->
        </div>
    </div>
</section>
