<section class="section " id="courses" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Our</h6>
            <h2>Clubs</h2>
          </div>
        </div>
      </div>
      <ul class="event_filter">
        <li>
          <a class="is_active" href="#!" data-filter="*">Show All</a>
        </li>
        <li>
          <a href="#!" data-filter=".design">Robotics</a>
        </li>
        <li>
          <a href="#!" data-filter=".development">Environmental</a>
        </li>
        <li>
          <a href="#!" data-filter=".wordpress">Entrepreneurship</a>
        </li>
      </ul>
      <div class=" section">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="team-member">
                <div class="main-content">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwLOpRvO-MoQHeLheqi2IydDgq6LyOljSM7QXMFw3r7w&s">
                  <span class="category">Entrepreneurship</span>
                  <h4>Enactus</h4>
                  <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="team-member">
                <div class="main-content">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9GPdNBF5yrV7ZR93aJiQZvVm-5znnqwa8gqjpGwCLtg&s" alt="">
                  <span class="category">Robotics</span>
                  <h4>RoboTek</h4>
                  <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="team-member">
                <div class="main-content">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3MV7PHZo5pEgUsGTGrIgnnYcqa98mA1TMi-fn96QaeQ&s" alt="">
                  <span class="category">Environmental</span>
                  <h4>Shrys</h4>
                  <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="team-member">
                <div class="main-content">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBe00QOSAcj10EkwnudRHhqiPttJK4OWvLFduPAhdmgw&s" alt="">
                  <span class="category">Environmental</span>
                  <h4>CRIR</h4>
                  <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
