


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-L6CyIY57YtucQOBj7UfFKbnUmtU2EJnYd7HOFoNmlEQaAu60sK2EvV98lF6ilS+O23AaodIwtE0lnyg+3AvefQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-L6CyIY57YtucQOBj7UfFKbnUmtU2EJnYd7HOFoNmlEQaAu60sK2EvV98lF6ilS+O23AaodIwtE0lnyg+3AvefQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-9">
          <div class="left-info">
            <ul>
              <li><a href="#"><i class="fa fa-phone"></i>+216 50541056</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i>Elkharja@email.com</a></li>
              <li><a href="#"><i class="fa fa-map-marker"></i>Ben Arous Rades</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-3">
          <div class="social-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                 
                 
                    <a routerLink="/home" class="logo">
                        <img src="assets/images/logo.png" alt="" style="max-width: 112px;">
                    </a>

                    <ul class="nav">
                      <li class="scroll-to-section"><a routerLink="/home">Home</a></li>
                      <li class="scroll-to-section"><a routerLink="/about">About Us</a></li>
                      <li class="scroll-to-section"><a routerLink="/contact">Contact Us</a></li>
                      <li *ngIf="!email && router.url !== '/login'">
                        <a routerLink="/login">Login</a>
                      </li>
                      <li *ngIf="!email && router.url === '/login'">
                        <a routerLink="/register">Register</a>
                      </li>
                      <li *ngIf="email" class="scroll-to-section"><a routerLink="/reservation">MyReservations</a></li>
                      <li *ngIf="email">
                        <a  (click)="logOut()" style="color: #ffffff;" routerLink="">Logout</a>
                      </li>
                   
                     
                  </ul>   
                   
                </nav>
            </div>
        </div>
    </div>
  </header>