<div class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../../assets/images/service-01.png" alt="Virtual Workshops">
                    </div>
                    <div class="main-content">
                        <h4>Virtual Workshops</h4>
                        <p>Engage in interactive virtual workshops covering a range of topics for youth.</p>
                        <div class="main-button">
                            <a href="#">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../../assets/images/service-02.png" alt="Skill Building Sessions">
                    </div>
                    <div class="main-content">
                        <h4>Skill Building Sessions</h4>
                        <p>Enhance your skills with specialized sessions designed for youth development.</p>
                        <div class="main-button">
                            <a href="#">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../../assets/images/service-03.png" alt="Youth Forums">
                    </div>
                    <div class="main-content">
                        <h4>Youth Forums</h4>
                        <p>Participate in dynamic youth forums to voice opinions and share experiences.</p>
                        <div class="main-button">
                            <a href="#">Join Discussions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What do we offer?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at orci risus.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How can you get involved?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Why choose us?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Suspendisse potenti. Vivamus a tortor eu turpis pharetra consequat. Integer hendrerit risus a sem gravida.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="section-heading">
                    <h6>About Us</h6>
                    <h2>Empowering Youth Through Engagement</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum tortor eu sapien dictum, ut consequat velit consequat.</p>
                    <div class="main-button">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
