<app-home-header></app-home-header>
<br><br><br><br><br>
<div class="container">
    <h2 style="color: #ff9500; font-family: 'Arial Black', sans-serif; text-align: center;">Avis</h2>
    <table class="table table-striped table-container">
        <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let avis of avis">
                <td class="ttdd">{{ avis.emailClient }}</td>
                <td class="ttdd">{{ avis.message }}</td>
              
            </tr>
        </tbody>
    </table>
    <button class="btn btn-info" (click)="returnToEvent(avis[0]?.idevent || 0)">Return</button>
</div>
